<header class="header">
  <div class="container">
    <nav class="custom-nav">
      <ul id="links" class="list">
        <li class="item">
          <a class="btn" href="/home">Home</a>
        </li>
        <li class="item">
          <a class="btn" href="/">Index</a>
        </li>
      </ul>
    </nav>
  </div>
</header>