<header class="header">
  <div class="container">
    <nav class="custom-nav">
      <ul id="links" class="list">
        <li class="item">
          <a class="btn" href="/">Home</a>
        </li>
        <li class="item">
          <a class="btn" href="/products">Products</a>
        </li>
        <li class="item">
          <a class="btn" href="/crud">CRUD Products</a>
        </li>
        
      </ul>
    </nav>
  </div>
</header>